$white: #FFF;
$black: #000;
$bblue: #2e516a;
$dgrey: #010101;
$bgyellow: #f5db38;
$numyellow: #f4db37;
$btnyellow: #f7de38;
$layyellow: #f0d836;
$grey: #303030;

$awe: 'FontAwesome';
$open: 'Open Sans', sans-serif;
