@import "custom-variables";

/* Responsive Code */

@media screen and (max-width:1300px) {
 .singlegarage>div:first-child a { margin-right: 5px; padding: 9px 10px; }
 .reviewmore { width: 100%; }
}
  
@media screen and (max-width:1240px) {
  .sectionsecond:before { display: none; }
  .singlegarage { padding: 50px;
    > div{
      &:first-child {
        a.quadrat, a.tertiary { min-width: initial; }
      }
    }
  }
  .quoteblock { padding-right: 50px; }
  .detailserve.fixed { right: 50px; width: calc(50% + 50px); }
}
@media screen and (max-width:1150px) {
  .reviewmore:after { display: none; }
}
@media screen and (max-width:1060px) {
  .singlegarage { padding: 30px; }
  .detailserve.fixed { right: 30px; width: calc(50% + 70px); }
  .quoteblock { padding-right: 30px; }
  .reviewmore { padding: 40px; }
  .closereview { right: 40px; }
  .reviewtabflex>div:first-child { padding-right: 40px; }
}
@media screen and (max-width:1040px) {
  .container { width: auto; }
}

@media screen and (max-width:1023px) {
  .animated {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-animation-name: none !important;
  -moz-animation-name: none !important;
  animation-name: none !important;
  -webkit-animation-duration: 0s !important;
  -moz-animation-duration: 0s !important;
  animation-duration: 0s !important;
  -webkit-animation-delay: 0s !important;
  -moz-animation-delay: 0s !important;
  animation-delay: 0s !important;
  }
  #nav-icon { display: inline-block; }
  body { padding-top: 63px; }
  header.subpage .headflex { border-bottom: 0.5px solid rgba(255,255,255,0.8); padding: 15px;
   > div .logo img { width: 50px; } 
  }
  .headflex { background-color: $hblue; border-bottom: none; padding: 15px; position: fixed; top: 0; width: 100%; z-index: 21;
    div { margin: 0 auto;
      .mobilecall { display: inline-block; }
      .logo { margin-right: 0;
        img { width: 50px; }
      }
      &:last-child { display: none; }
      nav { background-color: $white; display: block; height: 100%; left: 0; position: fixed; top: 0; transform: translateX(100%); transition: all .3s ease-out; visibility: hidden; width: 100%; z-index: 21;
        &.active { transform: translateX(0); visibility: visible; }
        ul { padding-top: 60px;
          li { display: list-item; padding: 12px 10px; text-align: center;
            a { color: $hblue; font-size: 18px; font-weight: 700; }
          }
        }
      }
    }
  }
  .quoteblock { padding: 20px;
    &.fixed { padding-bottom: 25px; }
  }
  .sectionfirst { min-height: initial; }
  .sectionsecond { padding: 30px;
    >div { margin-top: 0; }
  }
  .topsection { padding: 0;
    > div {
      h1 { font-size: 26px; line-height: 44px; padding: 20px 0;
        span { font-size: 50px; line-height: 56px; }
      }
      .topdesc { font-size: 16px; line-height: 60px; padding-bottom: 40px;
        strong { font-size: 40px; }
      }
    }
  }
  .homeform { padding-bottom: 20px;
    >div { border-right: 0; padding-bottom: 15px; width: 100%;
      &:first-child { border-top-left-radius: 0; border-bottom-left-radius: 0; 
        .inputbox .textbox { border-bottom-left-radius: 0; border-top-left-radius: 0; }
      }
      &:nth-child(2) {
        .inputbox { z-index: 8; 
          .downlister { top: 54.64px; }
        }
      }
      &:last-child { text-align: center; width: 100%; 
        button { border-radius: 0; font-size: 14px; height: initial; padding: 12px; width: 150px; }
      }
    } 
  }
  .sectionsecond { padding: 15px;
    >div { padding: 30px 15px; 
      h2 { padding-bottom: 15px; }
    }
  }
  .worksflex { width: 100%; 
    > div {
      > div {
        &:first-child { align-items: flex-start; }
      }
    }
  }
  .breadto { padding: 20px 0; }
  footer { padding: 20px 15px; }
  #map_canvas { height: 400px; }
  .listingarage { flex-direction: column-reverse; 
    > div {
      &:first-child { padding: 0; width: 100%; }
      &:last-child { width: 100%; }
    }
  }
  .rightoverlay { margin-right: 0; }
  .singlegarage { border-bottom: 1px solid $borderyellow; padding: 20px; 
    &:before { display: none; }
    &:last-of-type { border-bottom: none; }
  }
  .listgare { margin-left: 0; padding: 15px 0; }
  .detailserve { margin-left: 0;
    &.fixed { position: static; width: 100%; }
  }
  .sectionthird { padding-top: 10px; }
  .selectbox .lowdown { left: 0; width: 100%; }
  .reviewsidebar>div { padding-bottom: 30px; }
}

@media screen and (max-width:940px) {
  .worksflex>div>div {
    &:first-child { width: calc(100% - 280px); }
    &:last-child { width: 280px; }
  }
  .sectionthird .featuredesc { padding-bottom: 0; }
  .featureflex { padding-bottom: 20px; 
    >div { padding-bottom: 25px; width: 50%; }
  }
  .reviewmore { padding: 40px 30px; }
  .reviewsidebar { padding: 40px 30px 0; }
  .reviewtabflex>div {
    &:first-child { padding-right: 30px; width: calc(100% - 280px); }
    &:last-child { width: 280px; }
  }
  .closereview { right: 25px; }
}

@media screen and (max-width:860px) {
  .reviewtabflex { flex-direction: column-reverse;
    > div {
      &:first-child { padding-right: 0; width: 100%; }
      &:last-child { width: 100%; }
    }
  }
  .quotepreview { padding-bottom: 15px; }
  .twopartreview { flex-direction: column-reverse; 
    > div { width: 100%; 
      &:last-child { padding-bottom: 25px; text-align: center; }
    }
  }
  .reviewsidebar { box-shadow: none; padding: 0; 
    div { padding-bottom: 20px; }
  }
}

@media screen and (max-width:767px) {
  .topsection { padding: 15px 0 0;
    >div .topdesc { line-height: 40px; }
  }
  .inputbox {
    .textbox { padding: 25px 20px 10px; }
    span { font-size: 12px; top: 18px; }
  }
  .sectionsecond>div { padding-bottom: 40px; 
    h2 { padding-bottom: 25px; }
  }
  .worksflex>div { flex-direction: column-reverse; padding-bottom: 10px;
    &:nth-child(even) { flex-direction: column-reverse; 
      > div:last-child { text-align: center; }
    }
    > div {
      &:first-child, &:last-child { text-align: center; width: 100%; }
      &:last-child { padding-bottom: 25px; }
      &:first-child {
        > div {
          &:before { display: none; }
        }
        span { font-size: 22px; line-height: 28px; }
      }
    }
  }
  .singlegarage {
    > div { 
      &:first-child { padding-bottom: 10px;
        .pricequote { display: inline-block; }
      }
      &:last-child {
        a { margin-bottom: 0; 
          &.tertiary, &.quadrat { padding: 8px 10px; }
        }
      }
    }
  }
  .topsection>div { padding: 20px 0; }
}

@media screen and (max-width:720px) {
  .topsection>div .topdesc { line-height: 30px; 
    strong { font-size: 30px; }
  }
  .homeform>div:last-child button { width: 150px; }
  h2 { font-size: 30px; line-height: 38px; }
  h3 { font-size: 26px; line-height: 34px; }
  h4 { font-size: 22px; line-height: 28px; }
  h5 { font-size: 16px; line-height: 24px; }
}

@media screen and (max-width:620px) {
  .singlegarage { flex-direction: column; padding: 20px 20px 15px;
    > div {
      &:first-child { width: 100%; }
      &:last-child { padding-top: 10px; text-align: left; width: 100%; }
    }
  }
  .closereview { font-size: 20px; height: 30px; line-height: 34px; right: 20px; width: 30px; }
  .reviewpop>div { padding-top: 50px; }
}

@media screen and (max-width:580px) {
  .detailserve>div span { font-size: 12px; }
  .quoteblock .sortq {
    span { font-size: 12px; padding-right: 20px; 
      &:before { font-size: 16px; line-height: 24px; }
    }
    >div ul li { font-size: 14px; padding: 5px 15px; }
  }
  .singlegarage {
    >div {
      &:first-child {
        .servicelist {
          li { display: block; padding-bottom: 10px; width: 100%;
            i { padding-right: 10px; }
          }
        }
      }
      &:last-child {
        .pricequote {
          span { font-size: 26px; line-height: 32px; padding-left: 25px; 
            &:before { font-size: 20px; line-height: 33px; }
          }
        }
        a { font-size: 12px; margin-bottom: 10px; min-width: initial; width: 100%;
          &:last-child { margin-bottom: 0; }
          &.tertiary { min-width: initial; }
        }
      }
    }
  }
  .sectionsecond { padding: 0; 
      &:after { display: none; }
      > div { padding-bottom: 0; }
  }
  .sectionthird { padding-top: 25px; }
  .reviewmore { padding: 30px 20px 40px; }
}

@media screen and (max-width:540px) {
  .featureflex>div { justify-content: center; width: 100%; 
    &:nth-child(even) { flex-direction: row-reverse; 
      h5 { padding-left: 0; padding-right: 15px; }
    }
  }
  .homeform { padding-bottom: 0; }
  .sectionthird { padding-top: 35px; }
  .topsection>div { padding: 10px 0; }
  .carform .btn { padding: 10px 14px; }
  .breadto { display: none; }
}

@media screen and (max-width:480px) {
  .topsection>div h1 span { font-size: 44px; line-height: 52px; }
  .sectionsecond>div { padding: 30px 0 0; }
  .featureflex { padding-bottom: 15px; }
  .carform { padding: 45px 20px 30px; width: 100%;
    .moreinfo { padding: 15px 0; }
  }
  .popfetch { padding: 15px; }
  .singlegarage>div:first-child {
    a.quadrat, a.tertiary { margin-bottom: 15px; margin-right: 0; width: 100%; }
    a.quadrat:last-of-type { margin-bottom: 5px; }
  }
}

@media screen and (max-width:380px) {
  footer .footflex { flex-direction: column; 
    > div {
      &:first-child { justify-content: center; padding-bottom: 10px; }
      &:last-child { margin-left: 0; text-align: center; }
    }
  }
}
@media screen and (max-width:340px) {
  .popfetch { padding: 15px 10px; }
  .carform { padding: 45px 15px 30px; }
  .twopartreview .secondary { margin-right: 7px; }
  .reviewmore { padding: 30px 15px 35px; }
}